<h1>Preguntas Frequentes:</h1>


<p>Para generar las respuestas, es necesario generar los datos en la aba API. (La generacion puede tardar algunos minutos.)</p>
<br />
<p>¿Cuántos períodos de Sequía habrá? (En los próximos 10 años)</p>
<p>R: {{qtdSequia}} dias </p>
<br />
<p>¿Cuántos períodos de lluvia habrá y qué día será el pico máximo de lluvia? (En los próximos 10 años)</p>
<p>R: {{qtdLluvia}} dias </p>
<br />
<p>¿Cuántos períodos de condiciones óptimas de presión y temperatura habrá? (En los próximos 10 años)</p>
<p>R: {{qtdOptimo}} dias </p>
<br />
