<h1>Bienvenido al Volcano Weather Calculator</h1>
<p>Aca podes calcular los periodos de sequia, lluvia y optimas condiciones por los proximos 10 anos. Los calculos estan basados en que
  01/01/2019 los planetas Volcano, Betasoide y Ferengi estaban alineados en la posicion 0°</p>
<p>Para el calculo de los periodos, son utilizados los siguientes principios:</p>
<br/>
<h3>Principio de los periodos de <b>Sequia</b></h3>
<p>Para estos periodos, es necesario que los planetas Betasoide y Ferengi esten alineados con el planeta Volcano. Eso es decir,
  que en el mismo dia, los 3 planetas tengan el mismo grado de posicion.</p>
<p><b>Por Ejemplo: </b>Volcano 40° / Betasoide 40° / Ferengi 40°</p>
<br />
<h3>Principio de los periodos de <b>Lluvia</b></h3>
<p>
  Para los periodos de lluvia, los 3 planetas tienen que formar un triangulo con sus respectivas posiciones. Eso quiere decir,
  si dividimos la orbita circular en 3 (De 0° a 120° - De 120° a 270° - De 270° a 360°), cada planeta tiene que estar posicionado
  en cuadrantes distintos.
</p>
<p><b>Por Ejemplo: </b>Volcano entre 0° y 120° / Betasoide entre 120° y 270° / Ferengi entre 270° y 360°</p>
<br />
<h3>Principio de los periodos de <b>Optimas Condiciones</b></h3>
<p>
  Para los periodos de optimas condiciones, los planetas tienen que estar alineados en una linea recta. Para eso, Es necesario que
  dos planetas tengan el mismo grado de posicion y el tercer planeta tenga la misma posicion + o - 180° (Se suma cuando los dos planetas
  tienen grados menores a 180 y se resta cuando son mayores a 180.
</p>
<p><b>Por Ejemplo: </b>Volcano 35° y Betasoide 35° y Ferengi posicionado en 215° (35°+180) || Volcano 210° y Betasoide 210° y Ferengi
  posicionado en 30° (210°-180)</p>

<br />

